<section class="product-form">
    <header class="product-form__header">
        <h1>Produkt erstellen</h1>
        <a href="" class="btn--close"></a>
    </header>

    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

        <fieldset class="product-form__fieldset--vert">
            <legend>Product Information</legend>

            <label for="product-name">Produkt Name:</label>
            <input type="text" id="product-name" formControlName="name" />

            <!-- bei "".hasError" unbedingt das Fragezeichen machen -->
            @if(productForm.get("name")?.hasError("required")) {
            <p class="product-form__error">Fehler:</p>
            <p class="product-form__error">Bitte gib einen Namen ein.</p>
            }
             @if(productForm.get("name")?.hasError("minlength")) { <!-- bei "minlength" muss das L klein sein -->
            <p class="product-form__error">Fehler:</p>
            <p class="product-form__error">Der Name muss min. 3 Zeichen lang sein.</p>
            }

            <label for="description">Beschreibung</label>
            <textarea id="description" name="description" formControlName="description" rows="4"></textarea>
        </fieldset>

        <fieldset class="product-form__fieldset--hori">
            <legend>Stock &amp; Pricing</legend>

            <label for="stock">Lagerbestand:</label>
            <input type="number" id="stock" name="stock" formControlName="stock" />

            <label for="price">Preis pro Stück (€):</label>
            <input type="number" id="price" name="price" step="0.01" formControlName="price" />
        </fieldset>

        <button type="submit" class="btn btn--primary">Produkt hinzufügen</button>
    </form>

</section>